<html>
    <head>
        <title>Shoe Store: {{ store.getName }}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/styles/styles.css' />

    </head>
    <body>
        <!-- start nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Salon" src="/img/heels.jpg" id="heels">
                        <span id="shoes_manager">Sebastian's Super-Duper Shoe Store Manager</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- end nav -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{ store.getName }}</h3>
                            <p><em>Location</em>: {{ store.getLocation }}</p>
                            <p><em>Phone</em>: {{ store.getPhone }}</p>
                            <p><a class="btn btn-default" id='togglebtn' href="#" role="button">Update store info</a></p>

                            {# button to show or hide update form #}
                            <!-- <button id="togglebtn" onclick="toggle_div_visibility">Show/Hide Store Update Form</button> -->

                            {# store updating form here #}
                            <div class="container-fluid" id="update_form">
                                <form action="/store/{{ store.getId }}" class="form-horizontal" method="post">
                                    <input type="hidden" name="_method" value="patch">
                                    <div class='form-group'>
                                        <label for='new_name'>New store name:</label>
                                        <input id='new_name' name='new_name' type='text'>
                                    </div>
                                    <div class='form-group'>
                                        <label for='new_location'>New store location:</label>
                                        <input id='new_location' name='new_location' type='text'>
                                    </div>
                                    <div class='form-group'>
                                        <label for='new_phone'>New store phone:</label>
                                        <input id='new_phone' name='new_phone' type='text'>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Update
                                    </button>
                                </form>
                            </div>
                            {# end store updating form #}

                        </div>
                        <div class="panel-body">
                            {% if brands is not empty %}
                                <div class="list-group">
                                    {% for brand in brands %}
                                        <div class="list-group-item">
                                            <a class="list-group-item-heading" href="/brand/{{ brand.getId }}"><h4>{{ brand.getName}}</h4></a>
                                            <p class="list-group-item-text">Website: {{ brand.getWebsite }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <form action="/store/{{ store.getId }}/removeBrands" class="form-horizontal" method="post">
                                    <input name="_method" type="hidden" value="delete">
                                    <button type="submit" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        Remove all brands from {{ store.getName }}
                                    </button>
                                </form>

                            {% else %}
                                <span class="list-group-item">No brands yet.</span>
                            {% endif %}
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default" id="brand-form">
                        <div class="panel-heading">
                            <h3>Add brand</h3>
                        </div>
                        <div class="panel-body">
                            <form action='/store/{{ store.getId }}' role='form' method='post'>
                                {% if all_brands is not empty %}
                                <div class='form-group'>
                                    <label for='existing_brand'>Add an existing brand to {{ store.getName }}</label>
                                    <select class='form-control' id='existing_brand' name='existing_brand' onchange="form.submit()">
                                            <option value=''>Select a brand</option>
                                        {% for existing_brand in all_brands %}
                                            {# if store already has this brand, grey it out in the list#}
                                            <option value='{{ existing_brand.getId }}'{% if store.hasBrand(existing_brand.getId) %} disabled='disabled'{% endif %}>
                                                {{ existing_brand.getName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <h5>--or--</h5>
                                {% endif %}

                                <div class='form-group'>
                                    <input id='store_id' name='store_id' type='hidden' value='{{ store.getId }}'>
                                    <label for='name'>New brand name</label>
                                    <input id='name' name='name' type='text' required>
                                </div>
                                <div class='form-group'>
                                    <label for='website'>New brand website:</label>
                                    <input id='website' name='website' type='text' required>
                                </div>
                                <button type="submit" class="btn btn-default btn-md" id="add_client">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Add New Brand
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- script must go here to find the button-->
        <script src="/scripts/toggleform.js"></script>
    </body>
</html>
